@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* /// */

.header {
    display: grid;
    /* justify-content: space-between; */
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 0px;
    padding: 30px;
    background-image: url("images/atlas-voyages-home.jpg");
    background-origin: border-box;
    background-size: cover;
    color: blanchedalmond;
    text-shadow: 3px 3px 1px black
}

body {
    font-family: "pacifico", sans-serif;
    position: relative;
    margin: 0px;
}

footer {
    bottom: 0;
    text-align: center;
    font-style: italic;
    left: 0;
    right: 0;
}


/* .logo1 {
    justify-items: left;
    }
    */

.logo1 {
    grid-area: 1/1/3/3;
    justify-self: left;
    margin-top: 60px;
    margin-left: 30px;
}

.entete {
    grid-area: 2/3/2/5;
    text-align: right;
    margin-bottom: 50px;
    font-size: 1.5em;
}

h2 {
    text-align: center;
    color: red;
    font-size: 2em;
}

img:hover {
    /* transition: 5s; */
    transition: 1s;
    transform: scale(1.1);
    /* transform: translate3d(200px, 300px, 0px); */
    /* transform: matrix3d(0.87, -0.5, 0.00, 0, 0.50, 0.87, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1); */
    /* transform: scale(1.5); */
}

img {
    border-radius: 40px;
    margin: 10px;
    height: auto;
    max-width: 100%;
}

.vacs1,
.vacs2 {
    text-align: center;
    font-size: 1.5em;
}

.container1 {
    display: grid;
    justify-content: center;
    justify-items: normal;
    align-items: normal;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 12.5%;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.ar {
    grid-area: 5/1/7/4;
    color: blanchedalmond;
    text-shadow: 1px 1px 0px black;
    font-size: 1.3vw;
    text-align: center;
}

.item1,
.item2 {
    margin-right: 5px;
    /* border: 2px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; */
}

.container2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 12.5%;
    /* display: grid;
    justify-content: center;
    justify-items: normal;
    align-items: normal;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 60px; */
}


/* /// */

.item7,
.item8,
.item10,
.item11,
.item12 {
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.item9 {
    margin: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

a {
    grid-area: 1/1/7/4;
}

.art {
    grid-area: 4/1/7/4;
    color: blanchedalmond;
    text-shadow: 1px 1px 0px black;
    font-size: 1.3vw;
    text-align: center;
}

.artrelou {
    grid-area: 4/1/6/4;
    color: blanchedalmond;
    text-shadow: 1px 1px 0px black;
    font-size: 1.3vw;
    text-align: center;
}


/* .container2 {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-row: 2/span 3;
        grid-column: 2/span 2;
        /* grid-auto-flow: row; */


/* justify-content: center; */


/* justify-items: stretch; */


/* align-items: normal; */


/* margin: 60px;
} */